<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Guest VIP List</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
</head>
<body>

<div class="container">
		<div id="guest-list">
			<h1>Guest VIP List</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
					</tr>
				</thead>
				<tr th:each="guest : ${guests}">
					<td><span th:text="${guest.name}"></span></td>
					<td><span th:text="${guest.email}"></span></td>
					<td><span th:text="${guest.phone}"></span></td>
				</tr>

			</table>
		</div>
	</div>
</body>
</html>