<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Guest VIP List</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
</head>
<body>

	<div class="container">
		<div id="guest-list">
			<h1>Guest VIP!</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
					</tr>
				</thead>
				<tr th:each="guest : ${guests}">
					<td><span th:text="${guest.name}"></span></td>
					<td><span th:text="${guest.email}"></span></td>
					<td><span th:text="${guest.phone}"></span></td>
					<td>
						<form action="delete" method="post">
							<input type="hidden" class="form-control" id="name" name="name" th:value="${guest.name}"/>
							<input type="hidden" class="form-control" id="email" name="email" th:value="${guest.email}"/>
							<input type="hidden" class="form-control" id="phone" name="phone" th:value="${guest.phone}"/>
							<input type="hidden" class="form-control" id="guest-id" name="guest-id" th:value="${guest.id}"/>
							<button type="submit" class="btn btn-primary">Delete</button>
						</form>
					</td>
				</tr>
			</table>
		</div>

		<hr/>

		<form action="save" method="post">
			<div class="form-group">
				<label for="name">Name</label> 
				<input type="text"	class="form-control" id="name" name="name" placeholder="Full Name" required="true"/>
			</div>
			<div class="form-group">
				<label for="email">E-mail</label> 
				<input type="email"	class="form-control" id="email" name="email" placeholder="E-mail" required="true"/>
			</div>
			<div class="form-group">
				<label for="phone">Phone</label> 
				<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required="true"/>
			</div>
			<button type="submit" class="btn btn-primary">Invite</button>
		</form>
	</div>
</body>
</html>